body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.search-field:hover {
    /* outline: none; */
    border: 2px solid red;
}
.search-box {
    border-radius: 10px;
    margin-top: 20px;
}

.single-product:hover {
    box-shadow: 7px 12px 40px rgb(169, 182, 151);
    border-radius: 10px;
    border: 1px solid rgb(215, 245, 132);
}

.cart {
    box-shadow: 10px 15px 40px rgb(253, 192, 192);
    border-radius: 12px;
    /* position: fixed; */
    padding: 10px;
}

.scroll-top {
    margin-top: 120px;
}
.nav-index {
    z-index: 1;
    background-color: rgb(243, 243, 243);
    top: 0;
}
/* .table-index{
  
} */
@media only screen and (max-width: 576px) {
    .nav-index,
    .table-index {
        position: static !important;
    }
    .scroll-top {
        top: 0px !important;
        margin-top: 0;
    }
    .table-index {
        z-index: 1;
        background-color: rgb(224, 253, 195);
        width: 100%;
    }
}
